*.bak
*.cbk
*.cfg
*.dcu
*.ddp
*.drc
*.dres
*.dsk
*.dsm
*.dst
*.exe
*.identcache
*.local
*.map
*.res
*.rsm
*.skincfg
*.stat
*.tvsconfig
*.vlb
*.vrc
*.~*
*.~*~
Win32/
build/
output/
*/__history/*
*/__recovery/*
.gitignore
/.gitignore
/*.gitignore
